#slice-id-home-hero {
  position: relative;
  &:after {
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    height: 100px;
    position: absolute;
    bottom: 0px;
    content: "";
  }
  section {
    min-height: 1100px;
    padding: 140px 0px 60px 0px;
    .basic-slice-container {
      display: flex;
      align-items: center;
      justify-content: center;
      .section-content {
        width: 835px;
        height: 835px;
        border-radius: 50%;
        background-image: url(../../../images/homepageheadernocircle2-compress.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 100px;
        h2 {
          font-size: 60px;
          opacity: 0.9;
          color: $blue;
          line-height: 70px;
          max-width: 500px;
          text-align: center;
          margin: 25px auto;
        }
        p:nth-child(2) {
          color: white;
          font-size: 25px;
          line-height: 32px;
          text-align: center;
          margin-top: 85px;
          margin-bottom: 40px;
          opacity: 0.95;
        }
        a {
          background-color: $blue;
          color: white;
          padding: 9px 12px;
          border-radius: 10px;
          font-size: 24px;
          &:hover {
            background: darken($dark-blue, 10%);
          }
        }
      }
    }
  }
}
#slice-id-luxury-coffee {
  section {
    padding-bottom: 0px;
  }
  h2 {
    font-size: 45px;
    line-height: 25px;
    text-align: center;
    color: $blue;
    margin-bottom: 40px;
  }
  p {
    font-size: 27px;
    line-height: 40px;
    text-align: center;
  }
  a {
    background-color: $blue;
    color: white;
    padding: 9px 12px;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 20px;
    display: inline-block;
    &:hover {
      background: darken($dark-blue, 10%);
    }
  }
}
#slice-id-home-vines {
  section {
    padding: 0px;
    &:nth-child(1) {
      text-align: right;
      padding-right: 100px;
    }
    &:nth-child(2) {
      padding-left: 100px;
    }
  }
  .left-right-container {
    img {
      max-width: 271px;
    }
  }
}
#slice-id-home-services {
  section {
    padding: 0px;
  }
  .column {
    justify-content: center;
  }
  .column-item {
    max-width: calc(100% / 3);
    background-color: #f4f7f9;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 67px;
    padding-top: 40px;
    .block-img {
      margin: 0px;
      img {
        height: 100px;
        width: auto;
      }
    }
    h2 {
      margin: 20px 0px 12px 0px;
      font-size: 35px;
      line-height: 40px;
    }
    p {
      margin: 0px;
      font-size: 25px;
      line-height: 40px;
      font-weight: 300;
    }
    @media only screen and (max-width: 1500px) {
      width: 400px;
      height: 400px;
      padding: 40px;
      h2 {
        font-size: 28px;
        line-height: 32px;
        margin: 0px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
      }
      img {
        max-height: 50px;
      }
    }
    @media only screen and (max-width: 1200px) {
      h2 {
        font-size: 22px;
        line-height: 28px;
        margin: 0px;
      }
      p {
        font-size: 14px;
        line-height: 22px;
      }
      width: 300px;
      height: 300px;
    }
    @media only screen and (max-width: 900px) {
      width: 200px;
      height: 200px;
    }
  }
}
#slice-id-home-services-learn {
  section {
    padding: 0px 0px 100px 0px;
    .column-item {
      &:nth-child(1) {
        text-align: right;
      }
      &:nth-child(2) {
        text-align: center;
        a {
          background-color: $blue;
          color: white;
          padding: 9px 12px;
          border-radius: 10px;
          font-size: 24px;
          margin-top: 20px;
          display: inline-block;
          &:hover {
            background: darken($dark-blue, 10%);
          }
        }
      }
    }
  }
}
#slice-id-home-video {
  .column-item {
    img {
      height: auto;
    }
    &:nth-child(1) {
      width: 19%;
      padding-right: 40px;
    }
    &:nth-child(2) {
      width: 62%;
      .embed {
        > div {
          position: relative;
          padding-bottom: 56.25%;
          height: 0;
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &:nth-child(3) {
      width: 19%;
      padding-left: 40px;
    }
  }
}
#slice-id-home-blogs {
  h2.entity-section-header {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    color: $blue;
  }
}
